@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
}
.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px black solid;
}
.header > * {
  margin-bottom: 9px;
}
.header > *:last-child {
  margin-bottom: 0;
}
.header {
  background-color: rgb(33, 67, 82);
  color: whitesmoke;
  padding-top: 9px;
  padding-bottom: 7px;
}
.header > a {
  color: whitesmoke;
}

.navbar {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: gray;
  z-index: 1000;
  padding: 10px 0;
  opacity: 70%;
}

.navbar > a {
  width: calc(100% / 7);
  border-right: 1px solid black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: whitesmoke;
}

.navbar > a:last-child {
  border-right: none;
}
.navbar > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.divider {
  border-bottom: 2px solid black;
  margin-top: 15px;
  margin-bottom: 9px;
}
.skills-list {
  list-style-type: none;
  padding: 0;
}

.skill {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
  transition: background-color 0.3s;
  border-left: 3px solid rgb(33, 67, 82);
}

.skill:hover {
  background-color: #e0e0e0;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #eaeaea;
}

#contact-form {
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#contact-form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: rgb(33, 67, 82);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgb(64, 85, 94);
}
.footer {
  background-color: rgb(33, 67, 82);
  color: rgb(160, 159, 159);
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}